<form id="newUserForm" class="" action="/new" method="post">
  <h3 style="color:maroon" id="errorMessage"></h3>
  Username: <input type="text" name="username" id="newUserUsername" value="">
  <button type="submit" name="register">Register</button>
</form>
